@import url(variable.css);
@import url(style.css);

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
}

.child {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--dark-text);
    flex: 0 0 50%;
    max-width: 50%;
    align-content: center;
}

/* Responsive design */
@media (width <= 1200px) {
    .child {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

img{
    max-width: 100%;
    max-height: 100%;
}


/* FORM */
form{
    background-color: var(--dark-text);
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.title {
    font-family: 'Pacifico', cursive;
    color: var(--white-text);
    font-size: 1.5rem;
}

.form-group{
    display: flex;
    margin: 1.5rem;
    background-color: var(--white-text);
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 8px 8px rgb(84, 80, 80);
}

.entree{
    background-color: transparent;
    border: none;
    padding: .5rem 1.8rem;
    width: 100%;
    outline: none;
}

.message .form-control {
    padding: .5rem 1.8rem;
    width: 100%;
    outline: none;
}

.btn.btn-primary {
    font-family:var(--round-title);
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image:linear-gradient(131deg, #0c6812, #478405, #717911, #ff3cc4);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff3ca7ba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
    cursor: pointer;
}
label {
    position:static;
    padding: 10px 0;
}
label i{
    font-size: 1.3rem;
}

/* CONTENT */
.book-title{
    color: var(--white-text);
    font-family: var(--book-title);
    font-size  : 3.5rem;
    width: 100%;
    text-align: center;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    border-top: 1px solid var(--white-text);
    padding: 2rem;
}

.reseau{
    color: var(--white-text);
    text-align: center;
    font-size: 1rem;
    font-family: var(--round-title);
}

.reseau i{
    font-size: 4rem;
}

/* Responsive reseau */
@media (width<800px) {
    .contact-info{
        flex-direction: column;
        padding: 0;
    }
    .reseau{
        margin-top: 1.5rem;
    }
}