@import url(variable.css) ;

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--base-size);
    background-color: var(--body-bg);
}

h1{
    color: var(--active-link);
    font-family: var(--title);
    margin: 20px 0px;
}

p{
    font-size: var(--base-size);
    margin: 10px 0px;
    
}

.content{
    display: flex;
    justify-content: center;
    margin: 5vh 10vw;
    flex-direction: column;
}

.image-container {
    max-width: 100%;
    max-height: 100%;
}

.responsive-image {
    width: 100%; /* L'image prend 100% de la largeur du conteneur */
    height: auto; /* Conserve le ratio d'aspect */
    object-fit: contain; /* Ajuste l'image pour qu'elle soit entièrement visible */
}

/* ==================== */
/*      HEADER         */
/* ==================== */
header{
    position: relative;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-image: var(--banner-bg);
    align-content: end;
    display: block;
}

.navbar{
    width: 100%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-bg);
}

.navbar a{
    color: var(--white-text);
    font-size: 1.2rem;
}

.navbar a:hover{
    color: var(--active-link);
}

.navbar .nav-links ul{
    display: flex;
    gap: 2rem;
    width: 100vw;
    justify-content: center;
}

.navbar .nav-links ul li.active a{
    color: var(--active-link);
    font-weight: 600;  
}

.navbar .menu-burger{
    color: var(--white-text);
    display: none;
    position: absolute;
    right: 50px;
    width: 35px;
}

/* RESPONSIVE */
@media screen and (max-width: 600px){
    .navbar{
        padding: 0;
    }

    .navbar .menu-burger{
        display: block;
    }
    .nav-links{
        left: 0;
        top: 0;
        position:absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        background-color: var(--nav-bg);
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display:flex;
        flex-direction: column;
    }

    .navbar .nav-links ul li{
        margin: 20px 0;
    }
    
}

/* ==================== */
/*      ILLUSTRATION    */
/* ==================== */

/*      Slider    */
.image-box{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.image-box input[type="radio"]{
    width: 35px;
    height: 35px;
    display: inline-block;
    outline: none;
    appearance: none;
    cursor: pointer;
    opacity: 0.5;
    margin: 0 2px;
    
}

.image-box input[type="radio"]:hover{
    transform: scale(1.1);
    opacity: 1;
}

.image-bg{
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pauseButton{
    display: none;
    background-color: var(--nav-bg);
    color: var(--white-text);
    font-size: 100%;
    padding: 1%;
    border-radius: 50%;
}

.image-bg:hover{
    #pauseButton{
        display: block;
    }
}

/*      Gaelerie    */
.galerie{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    margin-top: 100px;
}

.gallery-item {
    flex-basis: 32.7%;
    margin: 2px;
    cursor: pointer;
}

.gallery-item:hover{
    opacity: 0.85;
}

.gallery-item img{
    /* padding: 2px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 500px;
    max-height: 200px; */
}


.lightbox{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    align-items: center;
}

.lightbox-content{
    position: relative;
    width: 65%;
    height: 58%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
}

.lightbox-content img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}
.lightbox-prev, .lightbox-next{
    position: absolute;
    background-color: rgba(0, 0, 0, 0, 0.8);
    color: var(--white-text);
    padding: 9px;
    top: 45%;
    cursor: pointer;
    
}

.lightbox-prev{
    left: 0;
}

.lightbox-next{
    right: 0;
}

/* gallery lightbox responsive */
@media(max-width:767px){
    .galerie{
        width: 100%;
    }
    .gallery-item{
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content{
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media(max-width:480px){
    .gallery-item{
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content{
        width: 90%;
        margin: 20% auto;
    }
}