@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

:root {
    /* colors */
    --body-bg: #ecf0f1;
    --page-bg: #F5F5F5;
    --dark-text: #323433;
    --white-text : #fff;
    --active-link: #4d86c2;
    --banner-bg : url(../images/banner.jpg);
    --nav-bg :rgba(0, 0, 0, 0.6);;
  
    /* spacing */
    --baseline: 12px;
  
    /* fonts */
    --book-title: 'Tulpen One', sans-serif;
    --title: 'Cormorant Garamond', serif;
    --body: 'Cormorant Garamond', serif;
    --base-size: var(--baseline) * 1.2;
  }

.contact-link{
    color: var(--white-text);
    text-decoration: none;
    display: inline-block;
}

.cover{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    padding: 50px;
    box-sizing: border-box;
}

.book{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 50%;
}

.page{
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    background-color: #F5F5F5;
    flex-direction: column;
    font-family: var(--title); 
    font-size: var(--base-size);
    overflow: hidden;
}

.page-left{    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-right{    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--dark-text);
    color: white;
}

.page-header{
    height: 30%;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.page-content{
    height: 55%; 
    padding: 30px;
    box-sizing: border-box;
}

.page-footer{
    width: 100%;
    height: 15%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    color: var(--white-text);
    border-top: 2px solid var(--white-text);
    border-bottom: 2px solid var(--white-text);
    margin-top: 10px;
    font-family: var(--title);
}

.book-title{
    color: var(--white-text);
    font-family: var(--book-title);
    font-size  : 34px;
}

h2{
    font-size: var(--base-size);
}