@import url(variable.css);

.container {
    display: flex; /* Active le modèle Flexbox */
    flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes */
}

.child {
    flex: 1; /* Prend l'espace disponible de manière égale */
    box-sizing: border-box; /* Inclut padding et border dans les dimensions */
    padding: 20px; /* Espacement intérieur */
    background-color: var(--dark-text);
    flex: 0 0 100%;
}

/* Styles pour les écrans supérieurs à 1200px */
@media (min-width: 1200px) {
    .child {
        flex: 0 0 50%; /* Chaque div prend 50% de l'espace */
    }
}

img{
    width: 100%;
    max-height: 100%;
}


/* FORM */
form{
    background-color: var(--dark-text);
	min-width: 25rem;
    width: 100%;
}

.title {
    font-family: 'Pacifico', cursive;
    color: var(--white-text);
    font-size: 2.5rem;
}

.form-group{
    display: flex;
    margin: 1.5rem;
    background-color: var(--white-text);
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 8px 8px rgb(84, 80, 80);
}

.entree{
    background-color: transparent;
    border: none;
    padding: .5rem 1.8rem;
}

.icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }

.message .form-control {
    padding: .5rem 1.8rem;
    width: 100%;
}