@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root {
    /* colors */
    --body-bg: #ecf0f1;
    --page-bg: #F5F5F5;
    --dark-text: #323433;
    --white-text : #EAF6EE;
    --active-link: #631232;
    --banner-bg : url(../images/banner.jpg);
    --nav-bg :rgba(0, 0, 0, 0.6);;
  
    /* spacing */
    --baseline: 12px;
  
    /* fonts */
    --round-title: 'Quicksand', sans-serif;
    --book-title: 'Tulpen One', sans-serif;
    --title: 'Cormorant Garamond', serif;
    --body: 'Cormorant Garamond', serif;
    --base-size: 1,2.5rem;
    /* --base-size: var(--baseline) * 1.2; */
  }